.header-container {
  width: 100%;
  color: $white;
  background: $primary-color;
}

.header-overall {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  & .cta-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    & li {
      margin-right: 12px;
      font-size: .9rem;
      color: #989898;
      & i {
        margin-left: 6px;
        color: $accent-color;
      }
      & select {
        width: 80px;
        margin-left: 8px;
      }
    }
  }
}
.main-navbar {
  display: flex;
  width: 1200px;
  margin: 10px auto;
  & .logo {
    margin-right: 30px;
  }
  & .navs {
    display: flex;
    align-items: center;
    & li {
      margin: 0 15px;
      & a {
        color: $white;
        padding: 14px;
        background: trasparent;
        transition: background .3s;
        // transition: color .0s;
        &:hover {
          color: $black;
          background: $quarternary-color;
        }
      }
    }
  }
}
