.hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 460px;
  color: $white;
  background-color: grey;
  background-image: url('../../images/hero-background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

.hero-container {
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: space-between;
  min-width: 60%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin: 0px auto;
  padding: 20px;
  & .hero-list {
    line-height: 40px;
  }
}

.hero-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 45%;
  margin: 0px auto;
  padding: 20px 10px;
  background: $black;
}

.offer-price-container {
  display: flex;
  justify-content: space-between;
}

.offer-price {
  & .btn {
    margin-top: 25px;
  }
}

.limited {
  color: $black;
  background: $white;
  padding: 15px;
  margin-right: 15px;
  & h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: normal;
  }
  & p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  & a {
    font-size: 14px;
    color:$accent-color;
    &:hover {
      text-decoration:underline;
    }
  }
}
