// Main: section 3
.main-section3 {
  width: 100%;
  min-height: 650px;
  color: $white;
  background-color: grey;
  background-image: url('../../images/image-bg-02.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
