// Main: section 2
.main-section2 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  color: $secondary-color;
  background-color: $white;
}

.owl-img {
  & img {
    max-width: 965px;
  }
}
