// Button
.btn {
  padding: .5rem 2rem;
  text-transform: uppercase;
  color: $white;
  background: $accent-color;
  border: 0;
  cursor: pointer;
  transition: background .4s;
  &:hover {
    background: #28acff;
  }
}

// Link a
a {
  text-decoration: none;
}

// List
ul {
  list-style: none;
}

// Typo
.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

// Margins
.margin-t-30 {
  margin-top: 30px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

// text-transform
.section-text {
  padding: 20px;
  position: relative;
  & h2 {
    font-size: 2.2rem;
    font-weight: normal;
  }
  & p {
    font-size: 1.2rem;
    padding: 25px;
  }
}
