// Colors
$white: #fff;
$black: #000;

$accent-color: #009cff;

$primary-color: #101010;
$secondary-color: #222222;
$tertiary-color: #1e1e1e;
$quarternary-color: #e6e6e6;
$quinternary-color: #ececec;

// Fonts
$base-font: 16px;
